h1 {
  font-family: Gabriola;
  font-weight: bold;
  color: #ce57ef;
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
  line-height: 160%;
}

h5 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #a981eb;
  padding: 3rem;
  color: #fefefa;
  font-family: Gabriola;
  font-size: 18px;
  line-height: 160%;
}

.header {
  background: #cfc8f3;
  border: 1px solid #a981eb;
  border-top: none;
  margin-top: 50px;
  text-align: center;
  padding: 1rem 1rem 4rem 1rem;
}

.header-subtitle {
  font-family: Gabriola;
  font-weight: bold;
  color: #ce57ef;
  font-size: 3rem;
  line-height: 160%;
  margin: 2rem 0 1rem 0;
}

.pictures {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
}

.slide {
  content: '';
  border: 2px solid #ce57ef;
  padding: 0px;
  width: 50%;
  height: auto;
  clear: both;
  margin-left: 2rem;
}

.recital {
  padding: 0px;
  width: 50%;
}

.depoimentos-title {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.depoimentos {
  display: flex;
  font-style: italic;
  font-weight: lighter;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.footer {
  display: flex;
  color: white;
  background: #a981eb;
  margin-top: 4rem;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3rem;
}

.contact {
  margin-bottom: 1rem;
}

.footer-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.autor {
  text-align: right
}

@media screen and (max-width: 700px) {
  .content {
    padding: 1rem;
  }
  h1 {
    font-family: Gabriola;
    font-weight: bold;
    color: #ce57ef;
    font-size: 4rem;
    text-align: center;
    margin: 1rem 0;
    line-height: 160%;
  }
  .header-subtitle {
    font-size: 2rem;
  }
  .footer {
    flex-direction: column;
    padding: 4rem 5rem;
  }
  .contact {
    margin-bottom: 3rem;
  }
  .slide {
    width: 100%;
    height: 170px;
    margin-left: 0px;
  }
  .recital {
    width: 100%;
    margin-bottom: 2rem;
  }
  .pictures {
    flex-direction: column;
  }
  .depoimentos-title {
    padding: 0px;
  }
  .depoimentos {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}